<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <!-- Essential! Need to remove the limit for parallel HTTP connections to the same IP-address (by default no more than two) -->
  <system.net>
    <connectionManagement>
      <remove address="*"/>
      <add address="*" maxconnection="999999"/>
    </connectionManagement>
  </system.net>

</configuration>